.checkbox-label.fruit {
  background-color: #eb6990;
  color: #ffffff;
}

.checkbox-label.vegetable {
  background-color: #11d22e;
  color: #166534;
}

.checkbox-label.drinks {
  background-color: #38bdf8;
  color: #075985;
}

.checkbox-label.bakery {
  background-color: #f59e0b;
  color: #78350f;
}

.checkbox-label.meat {
  background-color: #bc001f;
  color: #7f1d1d;
}

.checkbox-label.dairy {
  background-color: #bac0c5;
  color: #0369a1;
}

.checkbox-label.other {
  background-color: #9ca3af;
  color: #111827;
}

.checkbox-label:hover {
  filter: brightness(1.2);
}